{% load static %}
<html>
    <head>
        <title>Mój blog</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
        <script src="{% static 'js/menu.js' %}"></script>        
    </head>
    <body>
        {% include 'posts/menu.html' %}
        <header class="topnav" id="topnavID">
            <div class="topnav-centered">
                <a href="/">Art of 3city</a>
            </div>
            <a class ="menuButton" onclick="openNav()">&#9776; Menu</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
             
        </header>
       
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </body>
</html>