{% load static %}
<html>
    <head>
        <title>Mój blog</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
        <script src="{% static 'js/menu.js' %}"></script>        
    </head>
    <body>
        {% include 'posts/menu.html' %}
        <header  id="topnavID">
            <div class="titleContainer">
                <h1 class="title">
                    Art of 3City
                </h1>
            </div>
            <span class ="menuButton" onclick="openNav()">&#9776; Menu</span>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>