{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <div class="cardContainer">
        {% csrf_token %}
        {% if user.is_authenticated and currentUser == authorUser  %}
            <a class="btn btn-default" href="{% url 'posts:edit' pk=postDetails.pk %}">Edytuj</a>
             <a class="btn btn-default" href="{% url 'posts:delete' id=postDetails.id %}">Usuń</a>
        {% endif %}
        <div class="cardContent">
        <div class="content-text">
            <div class="date">
                <span> Upublikowany:  {{ postDetails.published_date }} przez <em>{{postDetails.author}}</em></span> 
            </div>
            <h2 class="content-title">{{ postDetails.title }}</h2>
            <hr/>
            <h3>O miejscu</h3>
            <p class="content-paragraph">{{ postDetails.content}}</p>
            <figure>
                <img src="{{postDetails.image.url }}" class="img-responsive" style="width: 80%; height:60%; float: left; margin-right: 10px;" />
                <span class="pictureDescription">Adres miejsca: {{postDetails.place}} {{postDetails.address}}</span>
            </figure>
        </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if not visited %}
            <a href="{% url 'posts:like' postDetails.id %}" >Byłem!</a>
        {% else %}
            <p>Odwiedzone!</p>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated and 'posts.add_comment' in perms %}
    <p style="color:red;">{{comment_empty}}</p>
    {% include 'posts/addcomments.html' %}
   
    {% elif not 'posts.add_comment' in perms %}
        <h2>Nie masz uprawnień aby dodać komentarz </h2>
    {% else %}
        <h2>Zaloguj się aby dodać komentarz</h2>
    {% endif %}
    <hr/>
    <h4>Komentarze</h4>
    {% for comment in comments%}
     <div>
        <p><strong>{{comment.author}}</strong> dodał {{comment.created_date}}</p>
        <p>{{comment.text}}</p>
    </div>
    {% empty %}
    <h2>Nie ma komentarzy</h2>
    {% endfor %}
    
{% endblock %}