{% extends 'posts/base.html' %}
{% block content %}
    <div class="post">
        {% if postDetails.published_date %}
            <div class="date">
                {{ postDetails.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'posts:edit' pk=postDetails.pk %}">Edytuj</a>
        {% endif %}
        {% if user.is_authenticated and currentUser == authorUser %}
            {% csrf_token %}
            <a class="btn btn-default" href="{% url 'posts:delete' id=postDetails.id %}">Usuń</a>
        {% endif %}
        <h4>{{ postDetails.title }}</h4>
        <p>{{ postDetails.content}}</p>
        
    </div>
{% endblock %}