    <aside id="menuSidenav" class="sidenav">
            <div class="linkList">
                <img src="/media/logo.png" class="logo" height="auto"/>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                {% if not request.user.is_authenticated %}
                    <a class="menuButton" href="/welcome/registration">Stwórz konto</a>
                    <a class="menuButton" href="/welcome/login">Zaloguj</a>
                {% else %}
                    <a class="profileName">{{request.user}}</a>
                    <a class="menuButton" href="/welcome/logout">Wyloguj</a>
                    {% if 'posts.add_post' in perms%}
                        <a href="{% url "posts:create" %}" class="btn">Stwórz post</a>
                    {% endif %}
                    <a href="{% url 'welcome:profile' %}">Twój profil</a>
                {% endif %}
                <hr/>
                <a href="/posts">Strona główna</a>
            </div>
    </aside>