{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <h1>Zmień hasło:</h1>
    <form method="POST" action="{{url}} changePassword">
    {% csrf_token %}
    <br/>
    <label>Stare hasło:</label>
    <input class="textbox" type="password" name="oldPassword"/>
    <br/>
    <label>Nowe hasło:</label>
    <input class="textbox" type="password" name="newPassword1"/>
    <br/>
    <label>Powtórz nowe hasło:</label>
    <input class="textbox" type="password" name="newPassword2"/>
      <br/>
    <input class="submit" type="submit" value="Zmień"/>
    </form>

{% endblock %}