{% load static %}
<html>
   <head>
      <title>ART of 3CITY</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="intro">
            <h1>
               <span>A</span>
               <span>R</span>
               <span>T</span>
               <span>o</span>
               <span>f</span>
               <span>3</span>
               <span>C</span>
               <span>I</span>
               <span>T</span>
               <span>Y</span>
            </h1>
         </div>
         <div class="button">
            <h3>
               <a href="/posts">przejdź</a>
            </h3>
         </div>
      </div>
   </body>
</html>