{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    <h1>Zaloguj się</h1>
    {% comment %} {% if ok != True %}
    <p style="color:red;">Nastąpił błąd </p>
    {% endif %} {% endcomment %}
    <form method="POST" action="/login">
    {% csrf_token %}
    <label>Login:</label>
    <input class ="textbox" type="text" name="login"/>
    <br/>
    <label>Hasło:</label>
    <input class ="textbox" type="password" name="password"/>
    <br/>
    <br/>
    <input class="submit" type="submit" value="Zaloguj"/>
    </form>

{% endblock %}