{% extends 'posts/base.html' %}
{% load static %}
{% block content%}

    <div class="cardContainer">
    <div class="cardContent">
    <div class="content-text">
    <h1>Witaj {{profile}},</h1>
    <h3>cieszymy się, że jesteś z nami!</h3>
    <a href="{% url 'welcome:changePassword' %}">Zmień hasło</a>
    <h2>Aktywność użytkownika:</h2>
    <h4>Utworzone posty:</h4>
    {% for post in createdPosts %}
        <section>
                <div class="cardContainer">
                    <div class="cardContent">
                         <div class="content-text">
                            <p>opublikowano: {{post.published_date}}</p>
                            <h2 class="content-title">{{post.title}}</h2>
                            <h3 class="content-subtitle">{{post.place}}</h3>
                            <p class="content-paragraph">{{post.content | truncatewords:24}}...</p>
                            <a href="{% url 'posts:details' post.id %}" class="btn">Zobacz więcej</a>
                        </div>
                    </div>
                </div>
            </section>
    {% empty %}
         <p>Brak utworzonych postów</p>
    {% endfor %}
     <h4>Odwiedzone miejsca:</h4>
    {% for vp in visitedPlaces %}
        <section>
            <div class="cardContainer">
                <div class="cardContent">
                    <div class="content-text">
                        <p>opublikowano: {{vp.place.author}}</p>
                        <h2 class="content-title">{{vp.place.title}}</h2>
                        <h3 class="content-subtitle">{{vp.place.place}}</h3>
                        <p class="content-paragraph">{{vp.place.content | truncatewords:24}}...</p>
                        <a href="{% url 'posts:details' vp.place.id %}" class="btn">Zobacz więcej</a>
                    </div>
                </div>
            </div>
        </section>
    {% empty %}
    <p>Brak odwiedzonych miejsc</p>
    {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}